$column-gutter: 24px;
$row-gutter: 24px;
$columns: 1;
$bg-primary: #41c379;
$secondary: #ababab;

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// -----------------------------------

// Resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: whitesmoke;
}

header.banner {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 70px;
  top: 0;
  background: $bg-primary;
  color: #fff;
  display: flex;
  align-items: center;
  h2 {
    @include absolute-center();
    font-weight: 500;
  }
  .navigate-back {
    padding-left: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    &.hidden {
      display: none;
    }
  }
}

.container {
  height: calc(100vh - 70px);
  margin-top: 70px;
  padding: 1em;
  position: absolute;
  z-index: 1;
  width: 100vw;
  overflow: auto;
  &.hidden {
    transform: translateX(-100vw);
    height: 0;
    margin: 0;
    transition: all 0.2s ease;
  }
  .favorites {
    margin-bottom: 1em;
    &-header {
      @include flex-space-between();
      height: 2.5em;
      .title {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        &-head {
          color: #000;
          font-size: 14px;
          font-weight: 500;
        }
        &-subtitle {
          font-size: 13px;
          color: $secondary;
        }
      }
      .cart {
        cursor: pointer;
        @include flex-center();
        position: relative;
        #bag-count {
          font-size: 14px;
          position: absolute;
          top: 50%;
          transform: translateY(-6px);
        }
      }
    }
    &-container {
      padding: 1em 0em;
      display: flex;
      overflow-x: auto;
      border-bottom: 1px solid $secondary;

      .item {
        &:not(:last-of-type) {
          margin-right: 1em;
        }
        .image {
          margin: 0;
          cursor: pointer;
          img {
            max-width: 300px;
          }
        }
        .description {
          padding-top: 0.5em;
          display: flex;
          justify-content: space-between;
          .details {
            display: flex;
            flex-direction: column;
            max-width: 200px;
            overflow-wrap: break-word;
            font-weight: 500;
            &-name {
              font-size: 14px;
            }
            &-price {
              font-size: 1em;
              line-height: 1.5em;
            }
          }
          .add-cart {
            border: none;
            max-height: 30px;
            outline: none;
            border-radius: 5px;
            min-width: 100px;
            text-align: center;
            background: $bg-primary;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
              filter: brightness(110%);
              transition: filter 0.2s ease;
            }
          }
          .update-item {
            border-radius: 5px;
            min-width: 100px;
            text-align: center;
            background: $bg-primary;
            color: #fff;
            font-size: 12px;
            max-height: 30px;
            padding: 0 0.5em;
            @include flex-space-between();
            .decrement, .increment {
              cursor: pointer;
              display: flex;
            }
            .item-count {
              font-size: 12px;
            }
            &.hidden {
              display: none;
            }
          }
        }
      }
    }
  }

  .search-container {
    padding: 1em 0;
    position: relative;
    .search-icon {
      position: absolute;
      left: 0;
      top: 1em;
      cursor: pointer;
    }
    .remove-icon {
      position: absolute;
      right: 0;
      top: 1em;
      cursor: pointer;
    }
    #search-text {
      border: none;
      border-bottom: 1px solid $secondary;
      background: transparent;
      width: 100%;
      padding: 0 2em 0 2.5em;
      line-height: 2em;
      outline: none;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 13px;
    }
  }

  .recipes-container {
    .categories-header {
      @include flex-space-between();
      &-title {
        font-size: 14px;
        color: #000;
        font-weight: 500;
      }
      &-filter {
        display: flex;
        align-items: center;
        &-text {
          font-size: 13px;
          color: $secondary;
        }
        &-icon {
          padding-left: 1em;
          display: flex;
          cursor: pointer;
        }
      }
    }

    .categories {
      display: flex;
      padding: 1em 0;
      position: sticky;
      background: whitesmoke;
      top: calc(0px - 1em);
      overflow-x: auto;
      &-item {
        background: #fff;
        @include flex-center();
        height: 50px;
        min-width: 140px;
        font-size: 14px;
        color: #393939;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: background 0.2s ease;
        &:hover {
          transition: background 0.2s ease;
          background: rgba(65,195,121, 0.1);
        }
        &.active {
          border-bottom: 2px solid $bg-primary;
        }
        &:not(:last-of-type) {
          margin-right: 1em;
        }
        &-icon {
          display: flex;
          margin: 0 1em 0 0;
          img {
            width: 30px;
          }
        }
        &-name {
          font-size: 13px;
          text-transform: uppercase;
        }
      }
    }

    .food-items-container {
      display: flex;
      flex-wrap: wrap;
      padding: 1em 0;
      .item {
        width: calc(25% - 1em);
        background: #fff;
        border-radius: 5px;
        margin: 0 1em 1em 0;
        box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
        .image {
          margin: 0;
          cursor: pointer;
          img {
            width: 100%;
          }
        }
        .description {
          padding: 0.5em 1em;
          @include flex-space-between();
          .details {
            display: flex;
            flex-direction: column;
            padding-right: 5px;
            font-weight: 500;
            &-name {
              font-size: 14px;
            }
            &-price {
              font-size: 1em;
              padding-top: 5px;
            }
          }
          .add-cart {
            border: none;
            height: 30px;
            outline: none;
            border-radius: 5px;
            min-width: 100px;
            text-align: center;
            background: $bg-primary;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
              filter: brightness(110%);
              transition: filter 0.2s ease;
            }
          }
          .update-item {
            border-radius: 5px;
            min-width: 100px;
            text-align: center;
            background: $bg-primary;
            color: #fff;
            font-size: 12px;
            height: 30px;
            padding: 0 0.5em;
            @include flex-space-between();
            .decrement, .increment {
              cursor: pointer;
              display: flex;
            }
            .item-count {
              font-size: 12px;
            }
            &.hidden {
              display: none;
            }
          }
        }
      }
    }
  }
}

.no-dish {
  min-height: 100px;
  width: 100%;
  position: relative;
  span {
    font-size: 14px;
    @include absolute-center();
  }
}

.food-page-container-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 70px);
  margin-top: 70px;
  overflow: auto;
  position: absolute;
  z-index: 2;
  width: 100vw;
  transition: transform 0.3s ease;
  &.hidden {
    transform: translateX(200vw);
    width: 0;
    transition: transform 0.3s ease;
  }
  .food-page-container {
    max-width: 600px;
  
    .food-image-container {
      margin: 0;
      @include flex-center();
      max-height: 500px;
      img {
        width: 100%;
      }
    }
    .food-description-container {
      padding: 1em 0;
      .image-footer {
        padding-bottom: 2em;
        @include flex-space-between();
        border-bottom: 1px solid $secondary;
        .details {
          display: flex;
          flex-direction: column;
          padding-right: 5px;
          font-weight: 500;
          &-name {
            font-size: 14px;
          }
          &-price {
            font-size: 1em;
            padding-top: 0.4em;
          }
        }
        .add-cart {
          border: none;
          height: 30px;
          outline: none;
          border-radius: 5px;
          min-width: 100px;
          text-align: center;
          background: $bg-primary;
          color: #fff;
          font-size: 12px;
          text-transform: uppercase;
          cursor: pointer;
          &:hover {
            filter: brightness(110%);
            transition: filter 0.2s ease;
          }
        }
        .update-item {
          border-radius: 5px;
          min-width: 100px;
          text-align: center;
          background: $bg-primary;
          color: #fff;
          font-size: 12px;
          height: 30px;
          padding: 0 0.5em;
          @include flex-space-between();
          .decrement, .increment {
            cursor: pointer;
            display: flex;
          }
          .item-count {
            font-size: 12px;
          }
          &.hidden {
            display: none;
          }
        }
      }
  
      .food-category-ratings {
        @include flex-space-between();
        padding-top: 1em;
        font-size: 14px;
        color: $secondary;
  
        .ratings {
          display: flex;
          &-icon {
            display: flex;
            margin-right: 0.5em;
          }
        }
      }
  
      .food-description {
        padding: 1.5em 0 1em;
        &-header {
          font-size: 15px;
          font-weight: 500;
        }
        &-main {
          padding-top: 1em;
          font-size: 14px;
          color: $secondary;
        }
      }
  
  
    }
  }
}



@media screen and (max-width: 1366px) {
  .container .recipes-container .food-items-container .item {
    width: calc(33.33% - 1em);
  }
}

@media screen and (max-width: 1024px) {
  .container .recipes-container .food-items-container .item {
    width: calc(50% - 1em);
  }
}

@media screen and (max-width: 650px) {
  .container .recipes-container .food-items-container .item {
    width: 100%;
    margin: 0 0 1em 0;
    &:last-of-type {
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .food-page-container-wrapper .food-page-container .food-description-container {
    padding: 1em;
  }
}

// custom styles for the scroll bar
::-webkit-scrollbar {
  width: 0.45em;
  height: 0.45em;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: #c9c9c9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
  width: 0.45em;
}