*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background: whitesmoke; }

header.banner {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 70px;
  top: 0;
  background: #41c379;
  color: #fff;
  display: flex;
  align-items: center; }
  header.banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500; }
  header.banner .navigate-back {
    padding-left: 1em;
    cursor: pointer;
    display: flex;
    align-items: center; }
    header.banner .navigate-back.hidden {
      display: none; }

.container {
  height: calc(100vh - 70px);
  margin-top: 70px;
  padding: 1em;
  position: absolute;
  z-index: 1;
  width: 100vw;
  overflow: auto; }
  .container.hidden {
    transform: translateX(-100vw);
    height: 0;
    margin: 0;
    transition: all 0.2s ease; }
  .container .favorites {
    margin-bottom: 1em; }
    .container .favorites-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 2.5em; }
      .container .favorites-header .title {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between; }
        .container .favorites-header .title-head {
          color: #000;
          font-size: 14px;
          font-weight: 500; }
        .container .favorites-header .title-subtitle {
          font-size: 13px;
          color: #ababab; }
      .container .favorites-header .cart {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; }
        .container .favorites-header .cart #bag-count {
          font-size: 14px;
          font-weight: 500;
          position: absolute;
          top: 50%;
          transform: translateY(-6px); }
    .container .favorites-container {
      padding: 1em 0em;
      display: flex;
      overflow-x: auto;
      border-bottom: 1px solid #ababab; }
      .container .favorites-container .item:not(:last-of-type) {
        margin-right: 1em; }
      .container .favorites-container .item .image {
        margin: 0;
        cursor: pointer;
        min-width: 300px;
        min-height: 200px; }
        .container .favorites-container .item .image img {
          max-width: 300px; }
      .container .favorites-container .item .description {
        padding-top: 0.5em;
        display: flex;
        justify-content: space-between; }
        .container .favorites-container .item .description .details {
          display: flex;
          flex-direction: column;
          max-width: 200px;
          overflow-wrap: break-word;
          font-weight: 500; }
          .container .favorites-container .item .description .details-name {
            font-size: 14px; }
          .container .favorites-container .item .description .details-price {
            font-size: 1em;
            line-height: 1.5em; }
        .container .favorites-container .item .description .add-cart {
          border: none;
          max-height: 30px;
          outline: none;
          border-radius: 5px;
          min-width: 100px;
          text-align: center;
          background: #41c379;
          color: #fff;
          font-size: 12px;
          text-transform: uppercase;
          cursor: pointer; }
          .container .favorites-container .item .description .add-cart:hover {
            filter: brightness(110%);
            transition: filter 0.2s ease; }
        .container .favorites-container .item .description .update-item {
          border-radius: 5px;
          min-width: 100px;
          text-align: center;
          background: #41c379;
          color: #fff;
          font-size: 12px;
          max-height: 30px;
          padding: 0 0.5em;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .container .favorites-container .item .description .update-item .decrement, .container .favorites-container .item .description .update-item .increment {
            cursor: pointer;
            display: flex; }
          .container .favorites-container .item .description .update-item .item-count {
            font-size: 12px; }
          .container .favorites-container .item .description .update-item.hidden {
            display: none; }
  .container .search-container {
    padding: 1em 0;
    position: relative; }
    .container .search-container .search-icon {
      position: absolute;
      left: 0;
      top: 1em;
      cursor: pointer; }
    .container .search-container .remove-icon {
      position: absolute;
      right: 0;
      top: 1em;
      cursor: pointer; }
    .container .search-container #search-text {
      border: none;
      border-bottom: 1px solid #ababab;
      background: transparent;
      width: 100%;
      padding: 0 2em 0 2.5em;
      line-height: 2em;
      outline: none;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 13px; }
  .container .recipes-container .categories-header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .container .recipes-container .categories-header-title {
      font-size: 14px;
      color: #000;
      font-weight: 500; }
    .container .recipes-container .categories-header-filter {
      display: flex;
      align-items: center; }
      .container .recipes-container .categories-header-filter-text {
        font-size: 13px;
        color: #ababab; }
      .container .recipes-container .categories-header-filter-icon {
        padding-left: 1em;
        display: flex;
        cursor: pointer; }
  .container .recipes-container .categories {
    display: flex;
    padding: 1em 0;
    position: sticky;
    background: whitesmoke;
    top: calc(0px - 1em);
    overflow-x: auto; }
    .container .recipes-container .categories-item {
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      min-width: 140px;
      font-size: 14px;
      color: #393939;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transition: background 0.2s ease; }
      .container .recipes-container .categories-item:hover {
        transition: background 0.2s ease;
        background: rgba(65, 195, 121, 0.1); }
      .container .recipes-container .categories-item.active {
        border-bottom: 2px solid #41c379; }
      .container .recipes-container .categories-item:not(:last-of-type) {
        margin-right: 1em; }
      .container .recipes-container .categories-item-icon {
        display: flex;
        margin: 0 1em 0 0; }
        .container .recipes-container .categories-item-icon img {
          width: 30px; }
      .container .recipes-container .categories-item-name {
        font-size: 13px;
        text-transform: uppercase; }
  .container .recipes-container .food-items-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0; }
    .container .recipes-container .food-items-container .item {
      width: calc(25% - 1em);
      background: #fff;
      border-radius: 5px;
      margin: 0 1em 1em 0;
      box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2); }
      .container .recipes-container .food-items-container .item .image {
        margin: 0;
        min-height: 200px;
        cursor: pointer; }
        .container .recipes-container .food-items-container .item .image img {
          width: 100%; }
      .container .recipes-container .food-items-container .item .description {
        padding: 0.5em 1em;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .container .recipes-container .food-items-container .item .description .details {
          display: flex;
          flex-direction: column;
          padding-right: 5px;
          font-weight: 500; }
          .container .recipes-container .food-items-container .item .description .details-name {
            font-size: 14px; }
          .container .recipes-container .food-items-container .item .description .details-price {
            font-size: 1em;
            padding-top: 5px; }
        .container .recipes-container .food-items-container .item .description .add-cart {
          border: none;
          height: 30px;
          outline: none;
          border-radius: 5px;
          min-width: 100px;
          text-align: center;
          background: #41c379;
          color: #fff;
          font-size: 12px;
          text-transform: uppercase;
          cursor: pointer; }
          .container .recipes-container .food-items-container .item .description .add-cart:hover {
            filter: brightness(110%);
            transition: filter 0.2s ease; }
        .container .recipes-container .food-items-container .item .description .update-item {
          border-radius: 5px;
          min-width: 100px;
          text-align: center;
          background: #41c379;
          color: #fff;
          font-size: 12px;
          height: 30px;
          padding: 0 0.5em;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .container .recipes-container .food-items-container .item .description .update-item .decrement, .container .recipes-container .food-items-container .item .description .update-item .increment {
            cursor: pointer;
            display: flex; }
          .container .recipes-container .food-items-container .item .description .update-item .item-count {
            font-size: 12px; }
          .container .recipes-container .food-items-container .item .description .update-item.hidden {
            display: none; }

.no-dish {
  min-height: 100px;
  width: 100%;
  position: relative; }
  .no-dish span {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.loading-fav-item:not(:last-of-type) {
  margin-right: 1em; }

.loading-fav-item-image {
  height: 200px;
  width: 300px;
  background: linear-gradient(to right, #dee1e6 8%, #b8bdc8 50%, #dee1e6 92%);
  background-size: 100rem 64rem;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  content: " "; }

.loading-fav-item-description {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .loading-fav-item-description-details {
    height: 30px;
    width: 150px;
    background: linear-gradient(to right, #dee1e6 8%, #b8bdc8 50%, #dee1e6 92%);
    background-size: 100rem 64rem;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    content: " "; }
  .loading-fav-item-description-add-cart {
    height: 30px;
    width: 100px;
    background: linear-gradient(to right, #dee1e6 8%, #b8bdc8 50%, #dee1e6 92%);
    background-size: 100rem 64rem;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    content: " "; }

.food-items-loader {
  display: inherit;
  flex-wrap: wrap;
  width: 100%; }
  .food-items-loader .loading-food-item {
    width: calc(25% - 1em);
    border-radius: 5px;
    margin: 0 1em 1em 0;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2); }
    .food-items-loader .loading-food-item-image {
      min-height: 250px;
      min-width: 250px;
      background: linear-gradient(to right, #dee1e6 8%, #b8bdc8 50%, #dee1e6 92%);
      background-size: 100rem 64rem;
      animation-duration: 1.8s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      content: " "; }
    .food-items-loader .loading-food-item-description {
      padding: 0.5em 1em;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .food-items-loader .loading-food-item-description-details {
        height: 30px;
        width: 150px;
        background: linear-gradient(to right, #dee1e6 8%, #b8bdc8 50%, #dee1e6 92%);
        background-size: 100rem 64rem;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        content: " "; }
      .food-items-loader .loading-food-item-description-add-cart {
        height: 30px;
        width: 100px;
        background: linear-gradient(to right, #dee1e6 8%, #b8bdc8 50%, #dee1e6 92%);
        background-size: 100rem 64rem;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        content: " "; }

.categories-loader-item {
  height: 50px;
  min-width: 140px;
  background: linear-gradient(to right, #dee1e6 8%, #b8bdc8 50%, #dee1e6 92%);
  background-size: 100rem 64rem;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  content: " "; }
  .categories-loader-item:not(:last-of-type) {
    margin-right: 1em; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -46.8rem 0; }
  100% {
    background-position: 46.8rem 0; } }

.food-page-container-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 70px);
  margin-top: 70px;
  overflow: auto;
  position: absolute;
  z-index: 2;
  width: 100vw;
  transition: transform 0.3s ease; }
  .food-page-container-wrapper.hidden {
    transform: translateX(200vw);
    width: 0;
    transition: transform 0.3s ease; }
  .food-page-container-wrapper .food-page-container {
    max-width: 600px;
    padding: 1em 0; }
    .food-page-container-wrapper .food-page-container .food-image-container {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 500px; }
      .food-page-container-wrapper .food-page-container .food-image-container img {
        width: 100%; }
    .food-page-container-wrapper .food-page-container .food-description-container {
      padding: 1em 0; }
      .food-page-container-wrapper .food-page-container .food-description-container .image-footer {
        padding-bottom: 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ababab; }
        .food-page-container-wrapper .food-page-container .food-description-container .image-footer .details {
          display: flex;
          flex-direction: column;
          padding-right: 5px;
          font-weight: 500; }
          .food-page-container-wrapper .food-page-container .food-description-container .image-footer .details-name {
            font-size: 14px; }
          .food-page-container-wrapper .food-page-container .food-description-container .image-footer .details-price {
            font-size: 1em;
            padding-top: 0.4em; }
        .food-page-container-wrapper .food-page-container .food-description-container .image-footer .add-cart {
          border: none;
          height: 30px;
          outline: none;
          border-radius: 5px;
          min-width: 100px;
          text-align: center;
          background: #41c379;
          color: #fff;
          font-size: 12px;
          text-transform: uppercase;
          cursor: pointer; }
          .food-page-container-wrapper .food-page-container .food-description-container .image-footer .add-cart:hover {
            filter: brightness(110%);
            transition: filter 0.2s ease; }
        .food-page-container-wrapper .food-page-container .food-description-container .image-footer .update-item {
          border-radius: 5px;
          min-width: 100px;
          text-align: center;
          background: #41c379;
          color: #fff;
          font-size: 12px;
          height: 30px;
          padding: 0 0.5em;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .food-page-container-wrapper .food-page-container .food-description-container .image-footer .update-item .decrement, .food-page-container-wrapper .food-page-container .food-description-container .image-footer .update-item .increment {
            cursor: pointer;
            display: flex; }
          .food-page-container-wrapper .food-page-container .food-description-container .image-footer .update-item .item-count {
            font-size: 12px; }
          .food-page-container-wrapper .food-page-container .food-description-container .image-footer .update-item.hidden {
            display: none; }
      .food-page-container-wrapper .food-page-container .food-description-container .food-category-ratings {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1em;
        font-size: 14px;
        color: #ababab; }
        .food-page-container-wrapper .food-page-container .food-description-container .food-category-ratings .ratings {
          display: flex; }
          .food-page-container-wrapper .food-page-container .food-description-container .food-category-ratings .ratings-icon {
            display: flex;
            margin-right: 0.5em; }
      .food-page-container-wrapper .food-page-container .food-description-container .food-description {
        padding: 1.5em 0 1em; }
        .food-page-container-wrapper .food-page-container .food-description-container .food-description-header {
          font-size: 15px;
          font-weight: 500; }
        .food-page-container-wrapper .food-page-container .food-description-container .food-description-main {
          padding-top: 1em;
          font-size: 14px;
          color: #ababab; }

@media screen and (max-width: 1366px) {
  .container .recipes-container .food-items-container .item,
  .container .recipes-container .food-items-container .food-items-loader .loading-food-item {
    width: calc(33.33% - 1em); } }

@media screen and (max-width: 1024px) {
  .container .recipes-container .food-items-container .item,
  .container .recipes-container .food-items-container .food-items-loader .loading-food-item {
    width: calc(50% - 1em); } }

@media screen and (max-width: 650px) {
  .container .recipes-container .food-items-container .item,
  .container .recipes-container .food-items-container .food-items-loader .loading-food-item {
    width: 100%;
    margin: 0 0 1em 0; }
    .container .recipes-container .food-items-container .item:last-of-type,
    .container .recipes-container .food-items-container .food-items-loader .loading-food-item:last-of-type {
      margin: 0; } }

@media screen and (max-width: 600px) {
  .food-page-container-wrapper .food-page-container {
    padding: 0; }
    .food-page-container-wrapper .food-page-container .food-description-container {
      padding: 1em; } }

::-webkit-scrollbar {
  width: 0.45em;
  height: 0.45em; }

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: #c9c9c9; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
  width: 0.45em; }
